/* .currentProjects{
    background-color: #ffffff;
  } */
  .header {
    margin-left: 0.25em;
  }
  .currentProjects-viewmore {
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
    color: gray;
  }
  /* .currentProjectBlocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .currentProjectBlock{
    padding: 10px;
  }
  .currentProjectBlock img{
    height: 90%;
    width: 100%;
  }
  .viewMoreProjects{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-top: 90px;
    align-items: center;
    text-align: center;
    color: #787575;
  }
  
  .viewMoreProjects:hover{
    text-decoration:underline;
  }

  .project-button p {
    color: black;
    font-weight: 450;
    font-size: 20px;
    text-align: center;
  } */
  @media screen and (max-width: 1250px) {
    .header {
      font-size: 30px;
      line-height: 150% ;
    }
  }
  @media screen and (max-width: 840px) {
    .currentProjects-viewmore {
      font-size: larger;
    }
  }