.gray-container_labnews {
    border-radius: 20px;
    margin: 1em;
    padding-top: 0.75em;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.75em;
}

.gray-container_labnews p .link{
  color:  #73000A;
}



@media screen and (max-width: 840px) {
    .gray-container_labnews p {
      font-size: small;
    }
}