/* max-width constrains the width of our carousel to 550, but shrinks on small devices */
.carousel__container {
    max-height: 110%;
    margin: auto;
}

.carousel__container h1 {
  text-align: left;
  font-size: 60px;
  padding-left: .25em;
}
  
/* gives us the illusion of a "centered" slide */
.carousel__slider {
  padding-left: 35%;
  padding-right: 35%;
}
  
  /* gives us the illusion of spaces between the slides */
.carousel__inner-slide {
  /* height: 40px;
  width: 100px;  */
  left: 10px;
  top: 10px;
  background-color: rgb(255, 255, 255);
}
  
.carousel {
  text-align: center;
}

.currentProjects{
  background-color: #ffffff;
}
/* .projectsHeader {
  margin-left:60px;
  margin-right:60px;  
} */

.currentProjectBlock{
  padding: 10px;
}

.slider__positioning img {
  /* Using vw as constant scale */
  width: 100%;
  height:30vw;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  object-position: bottom
}

/* Adjust the size of the actual slide container */
.slider__positioning {
  position: relative;
}

.cool-buttons {
  display: flexbox;
  position: relative;
  justify-content: space-between;
  padding-bottom: 20px;
}

.button{
  padding:15px;
  margin:10px;
  height:7.5vh;
  width: 7.5vh;
  border-radius: 50%;
  border-color: #ab262f;
  background-color: #ab262f;
  border-style: solid;
  color: #ffffff;
}

.arrow{
  /* using vh as constant scale */
  height: 2vh !important;
  width: 2vh !important;
  overflow: visible !important;
  margin-top:0!important;
}


