/* Background Image Filter*/
.bannerWelcome{
    height: 3%;
    width: 100%;
    position: relative;
}

.image-filter{
    background-color: black;
    overflow: clip;
}

/* Background Image */
.bannerImage {
    height: 15em;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
    opacity: 0.4;
}

/* Banner Title */
.banner-title {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
}

@media screen and (max-width:840px) {
    .banner-title{
      font-size: 2.3em;
    }
    
    .bannerImage{
        height: 8em;
    }
  }