.currentProjectBlocks{
    margin-left: 1rem;
    display: flex;
    flex-wrap:wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .currentProjectBlock{
    padding: 10px;
  }
  