/* max-width constrains the width of our carousel to 550, but shrinks on small devices */
.carousel__container {
    max-height: 110%;
    margin: auto;
}

.carousel__container h1 {
  text-align: left;
  font-size: 60px;
  padding-left: .25em;
}
  
/* gives us the illusion of a "centered" slide */
.carousel__slider {
  padding-left: 35%;
  padding-right: 35%;
}
  
  /* gives us the illusion of spaces between the slides */
.carousel__inner-slide {
  /* height: 40px;
  width: 100px;  */
  left: 10px;
  top: 10px;
  background-color: rgb(255, 255, 255);
}
  
.carousel {
  text-align: center;
}

.currentProjects{
  background-color: #ffffff;
}
/* .projectsHeader {
  margin-left:60px;
  margin-right:60px;  
} */

.currentProjectBlock{
  padding: 10px;
}
.slider__positioning img {
  width: 5vw;
  height:auto;
  
}
.slider__positioning p {
  position: absolute;
  font-size: 3vw;
  color: #ab262f;
  max-width: 75%;
  bottom: 20%;
  text-align: right;
  left: 20%;
}
/* .viewMoreProjects{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #787575;
}
  
.viewMoreProjects:hover{
  text-decoration:underline;
  color: #73000a
} */

/* Adjust the size of the actual slide container */
.slider__positioning {
  position: relative;
  width:2vw;
  height: auto;
}
.cool-buttons {
  display: flexbox;
  position: relative;
  justify-content: space-between;
  /* TODO: make this resizeable unit */
  padding-bottom: 20px;
}

.button{
  /* TODO: make this resizeable unit */
  padding:15px;
  margin:10px;
  border-radius: 50%;
  border-color: #ab262f;
  background-color: #ab262f;
  border-style: solid;
  color: #ffffff;
  /* font-family: 'Inter'; */
}

.arrow{
  transform: rotate(0.5turn)
}

/* Customizing Individual Project Carosel objects */
/* When "ImageClassName" is in the .js code, this adjusts the image view 
  ajust the actual image view here, but it is contained by "Slider"
*/
.div-img{
  /* position: fixed; */
  height: 40vh;
  width: 70vh; 
  top:0;
  padding-right:2vh;
  /* Adjust image view here */
  padding-right: 10vh;
  padding-bottom:40vh
}

.div-vid{
  max-height: 200%;
  width: auto;
  padding-right:2vh;
  padding-top: 3vh;
}
