.quote__format-top {
  padding-top: 4rem;
  padding-left: 16rem;
  font-size: 50px;
  font-weight: 500; 
}
.quote__format-lower{
    padding-left: 34rem;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 2.5rem; 
}

.quote__format-author{
    padding-bottom: 4rem;
    font-size: 50px;
    text-align: center;
    font-weight: 350; 
    color: #73000A;
  }
  