/*UPDATE THIS ONE, other css is ...?*/
/*Global Font*/
@import url('https://rsms.me/inter/inter.css');

*{
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  *{
    font-family: 'Inter var', sans-serif;
  }
}

@import "pure-react-carousel/dist/react-carousel.es.css";

/*margin on left and right sides for most sections*/
.borderedSection {
  margin-left:60px;
  margin-right:60px;
}

/*HomePage*/
.welcomeMessage{
  position: relative;
  background: #FFFFFF;
}

.header{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}


/*LogoFiller*/
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Current Project Page*/
/* .currrentProjects header{
  background-color: #ffffff;
  margin-left:60px;
  margin-right:60px;
} */


.cp-image{
  width: 10vw;
  height: auto;
  object-fit: cover;
  object-position:center;
  /* overflow: hidden; */
}
.currentProjectTitle{
  text-align:center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  color: #000000;
}

.currentProjectTitle:hover{
  text-decoration: underline;
  color:#73000A
}

/*Lab News Section*/
.newsUpdate {
  color: #73000A;
}

/*Upcoming Events Section*/
.eventsBlock {
  color: #73000A;
}

/* our sponsors section */

/*Team Page*/
.currentTeam {
  display:flex;
  flex-wrap:wrap;
}


/********* Publications *********/
.publicationTemplate{
  color:#73000A;
  line-height: 1.5vw;
}
.publicationTemplate:hover{
  color:#73000A;
}

.publicationHeader{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  display: flex;
  margin: 5vh 0 5vh 0;
  color:#000000 !important;
  line-height: 1em !important;
}

.publication-year-section{
  background-color: #F5F5F5;
  border-radius: 30px;
  /* top, right, bottom , left */
  padding: .5vh 3vw .5vh 3vw;
  margin: 5vw 2vw 5vh 1vw ;
  color:#000000;
}
.publication-year-section p {
  line-height: 1.5;
}

/* Setting more top space between the heading and first block  */
.publication-year-section:first-child{
  margin-top:50px;
}

.borderedSection-publications{
  margin:0 2vw 0 2vw;
}

/******** Research *********/

/* Individual project Links */
.projectLink-button{
  font-weight: 600;
  font-size: 24px;
  color: black;
  text-decoration: none;
}
.projectLink-button:hover{
  text-decoration: underline;
}

.gray-container {
  box-sizing: border-box;
  background-color: #f5f5f5;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: -5px;
  margin-right: -5px;
}

